:root {
  // To use rem as 10px
  // font-size: 62.5%; // Disable with tailwind
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--ff-primary);
  // font-size: var(--fs-md);
  color: var(--black);
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
